:root {
  --gray-dark: #030712;
  --gray-dark-50: #111827;
  --gray-dark-100: #1f2937;
  --gray-dark-200: #374151;
  --gray-dark-600: #d1d5db;
  --gray-dark-700: #e5e7eb;
  --gray-dark-900: #f9fafb;

  --container-width: 89%;
  --max-width: 80rem;
  --line-height: 1.5;
}


@font-face {
  font-family: 'inter';
  src: url('/public/Inter-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'inter';
  margin: 0;
  min-height: 150vh;
  font-size: 100%;
  background-color: var(--gray-dark);
  color: var(--gray-dark-600);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

svg {
  width: 100%;
  display: block;
}